<form method="get" action="/quizzes">
  <label for="search" class="mobile">Buscar por:</label>
  <input type="search" id="search" name="search" placeholder="Buscar aquí" autofocus autocomplete="on" onchange=/>
  <input class="mobile" type="submit" value="Enviar" />
</form>
<div id="contTable">
  <table>
  <% var i; for (i = 0; i < quizzes.length; i++) { %>
    <tr>
      <td class="datos"><a href="quizzes/<%= quizzes[i].id %>"><%= quizzes[i].pregunta %></a></td>
      <td class="datos"><a><%= quizzes[i].tema %></a></td>
    <% if (session.user) { %>
      <td class="btn"><button type="button" onclick="location.href='quizzes/<%= quizzes[i].id %>/edit';" class="btn-sm"><i class="fa fa-edit fa-1x"></i><span class="mobile"> Editar</span></button></td>
      <td class="btn">
        <form method="post" action="quizzes/<%= quizzes[i].id %>?_method=delete">
        <button type="submit" class="btn-sm" onClick="return confirm('Seguro que quiere borrar: <%= quizzes[i].pregunta %>');"><i class="fa fa-trash-o fa-1x"></i><span class="mobile"> Borrar</span></button>
        </form>
      </td>
    <% } %>
    </tr>
  <% } %>
  </table>
</div>

<% if (session.user) { %>
<button type="button" onclick="location.href='/quizzes/new';" class="btn-lg">Crear pregunta</button>
<% } %>
