<form method="get" action="/quizzes/<%= quiz.id %>/answer">
  <p><strong>Pregunta:</strong> <%= quiz.pregunta %></p>
  <input type="text" name="respuesta" placeholder="Responda aquí" />
  <button type="submit" class="btn-sm">Enviar</button>
</form>
<button type="button" onclick="location.href='/quizzes/<%= quiz.id %>/comments/new';" class="btn-lg">Nuevo comentario</button>
<h3><strong>Comentarios</strong></h3>
<div id="comentarios">
<ol>
<% for(var index in quiz.Comments) { %>
  <% if (quiz.Comments[index].publicado || session.user) { %>
  <li><span class="cmt-izq"><%= quiz.Comments[index].texto %></span>
  <% if(session.user && !quiz.Comments[index].publicado) { %>
    <form method="post" action="/quizzes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish?_method=put"><button type="submit" class="btn-sm">Publicar</button></form>
  <% } %>
  </li>
  <% } %>
<% } %>
</ol>
</div>